@charset "UTF-8";

/*  fontsize-s
---------------------------------------------*/
body { font-size: 10px; line-height: 1.5; }

* html body   { font-size: 70%; }			/* for IE6 */
*+html body   { font-size: 70%; }			/* for IE7 */
html>/**/body { font-size /*\**/: 70%\9; }	/* for IE8 */

/* current
---------------------------------------------*/
#header .sizeBox #hSmall a	{ background: url("../img/b_size01_on.gif") no-repeat; }
#header .sizeBox #hMiddle a	{ background: url("../img/b_size02.gif") no-repeat; }
#header .sizeBox #hLarge a	{ background: url("../img/b_size03.gif") no-repeat; }

#header .sizeBox #hSmall a:hover	{ background: url("../img/b_size01_on.gif") no-repeat; }
#header .sizeBox #hMiddle a:hover{ background: url("../img/b_size02_on.gif") no-repeat; }
#header .sizeBox #hLarge a:hover	{ background: url("../img/b_size03_on.gif") no-repeat; }
